
.hidden{
    display: none; 

  }

button { 
    padding: 20px 40px; 
    border: 1px solid black; 
    transition: 250ms background-color ; 

  }

  button :hover { 
    cursor: pointer; 
    background-color: black;
    color: white; 
  }

  button :disabled :hover {
    opacity: 0.6; 
    cursor: not-allowed; 
  }

  .text-center { 
    text-align: center; 

  }
  .container { 
    max-width: 400px;
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 40px; 
  }

  #stepProgressBar{ 
    display: flex; 
    flex-direction: column;
    width: 300px; 
    margin: 0 auto; 
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .bullet { 
    height: 20px; 
    width: 20px; 
    border-radius: 100%; 
    border: 1px solid black; 
  }